<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <!-- L'app Vue viene montata su questo elemento -->
    <div id="app">

        <!-- Contenitore principale -->
        <div class="container">

            <!-- Wrapper dello slider -->
            <div class="slider-wrapper" @mouseover="stopAutoplay" @mouseout="startAutoplay">

                 <!-- Ciclo su ogni slide -->
                <div class="item" v-for="(slide, index) in slides" :key="index" v-show="currentSlide === index">
                    
                    <!-- Immagine della slide -->
                    <img :src="slide.image" :alt="slide.title" />

                    <!-- Testo della slide -->
                    <div class="text">
                        <!-- Titolo della slide -->
                        <h3>{{ slide.title }}</h3>
                        <!-- Descrizione della slide -->
                        <p>{{ slide.text }}</p>
                    </div>

                </div>

                <!-- Contenitore delle miniature -->
                <div class="thumbs">

                    <!-- Pulsante per andare alla slide precedente -->
                    <div class="prev" @click="prevSlide"></div>
                    <!-- Pulsante per andare alla slide successiva -->
                    <div class="next" @click="nextSlide"></div>

                    <!-- Ciclo su ogni miniatura -->
                    <div class="thumb" v-for="(slide, index) in slides" :key="index" :class="{ active: currentSlide === index }" @click="currentSlide = index">
                        <!-- Immagine della miniatura -->
                        <img :src="slide.image" :alt="slide.title" />
                    </div>

                </div>
            </div>
        </div>
    </div>    

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>